 body{
    margin: 0%;
    font-family: sans-serif;
}

#header-topbar{
    background-color: #222;
    padding: 0 20px;
    width: 150px;
    position: fixed;
    height:100vh;
}

.picture{
    width: 70px;
    height: 90px;
    margin-top: 7px;
}
.picture-2{
    text-align: left;
}
  

.navbar h1{
    color: white;
    padding-left: 25px;
    align-items: center;
    margin: 0;
    padding: 15px;
    font-size: 24px;
    text-align: center;
}
.picture img{
    width: 100%;
    border: 2px solid white;
    margin-left: 20px;
}
.picture-2 img{
    width: 70%;
    border: 2px solid white;
}

.x-navbar ul li{
    list-style: none;
    color: white;
    justify-content: center;
   
}
.x-navbar ul{
    cursor: pointer;
    margin: 0;
    font-family: oxygen,Helvetica,sans-serif;
    padding: 0;
}

.x-navbar ul li a{
     color: rgb(190, 178, 178);
     text-decoration: none;
    padding: 15px 10px;
    border-top: 0;
    border-bottom: 0;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}
.x-navbar ul li a:hover{
    color:white;
    border-bottom: 2px solid red;
    transition: all .3s ease;
    
}
.icon{
    display: block;
    text-align: center;
    margin-bottom: 10px;

}
.web {
    
}
.web h2,p{
    color: #fa5427 !important;
    text-align: center;
    position: relative;
}

#web{
   position: relative; 
}
.web{
    height:845px;
    width: 100%;
    background-image: url(../img/main_bg_light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
#about-me{
    padding: 90px 180px;
}
.about-me{
    border: 1px solid black;
    background: #222;

}
.border-topp{
    position: relative;
    width: 110px;
    height: 110px;
    border-top: 3px solid #ff724c;
    border-left: 3px solid #ff724c;
    left: 20px;
    top: 15px;
}

.title{
    text-align: center;
    width: 100%;
    padding: 30px 60px 0px;
    margin-bottom: 10px;
}
.title-book{
    display: inline-block;
    margin-bottom: 40px;
    text-align: end;
}
.front{
    text-align: start;
    font-size: 1.17em;
}
.items{
    color: #555;
    font-size: 60px;
    margin: 12px 0 0;

}
.item{
    background-color: #ff724c;
    padding: 0 10px;
    margin: 0;
    display: inline-block;
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 200;
}
.info-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.info-list li{
    padding: 5px 0;
    font-size: 14px;
    text-align: start;
}
.info-list li .tit{
    color: white;
    margin-right: 12px;
    border-bottom: 2px solid #ff724c;
}

.info-list li .value{
    color: white;
}
.info-list a {
    color: #ff724c;
    text-decoration: none;
    outline: none;
    }
.info-list a:hover {
    color: #fa5427;
}  
.social-link{
    display: block;
    list-style: none;
    margin: 25px 0 5px;
    padding: 0;
    text-align: left;
}

.social-link li {
    color: white;
    padding-right: 10px;
    display: inline-block;
}
.social-link li a{
    display: inline-block;
    margin: 0 1px;
    width: 34px;
    height: 34px;
    color: #e5e5e5;
    background-color: transparent;
    border: 1px solid #555;
    text-align: center;
}
.social-link li a i{
    font-size: 16px;
    line-height: 32px;
}
.social-link li a:hover{
    color: white;
    background-color: #ff724c;
    transition: all, 0.5s;
}
.template-dark{
    margin: 70px;
    width: 1200px;
    
}
.block{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.edu{
    text-align: start;
}
.date{
    background-color: #ff724c;
    padding: 5px 8px 5px 20px;
    display: inline-block;
    margin: 0;
    margin-left: -20px;
}
.event{
    text-align: start;
    padding-left: 20px;
}
.button{
    border: 2px solid #fa5427;
    margin-top: 50px;
    height: 50px;
    width: 130px;

}
.button:hover{
    background-color: #fa5427;
    color: white;
    transition: all, 0.3s;
    cursor: pointer;
}
.r-navbar {
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 95px;
}
.r-navbar li a{
    color: lightgrey;
    font-size: 12px;
    text-decoration: none;
}
.r-navbar li a:hover{
    background-color: #eee;
    color: #888;
    transition: all, 0.5s ease;
}
.r-navbar li a:active:hover{
    background-color: #ff724c;
    color: #fff;
}
.portfolio-item{
    margin-bottom: 20px;
}
.image{
    width: 100%;
    height: 200px;
    
}
.image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


input, textarea {
    font-family: pt sans,Helvetica,sans-serif;
    width: 100%;
    padding: 10px 30px;
    margin-top: 10px !important;
    box-sizing: border-box;
    background: 0 0;
    border-color: #555;
    color: white;
    border: 1px solid #bbb
}
input, textarea :focus {
    border-radius: 0px;
}
.size{
    font-size: 0.9em;
}
/* .size:focus{
    border-radius: 0px !important;
} */
.size::after{
    
    border-radius: 0 0;
}
.submit{
    border: 1px solid #fa5427;
    margin-bottom: 30px;
}
.submit:hover{
    background-color: #ff724c;
    color: white;
   
}
.touch-block{
    display: flex;
    margin-bottom: 20px;
}
.text{
    color: white;
    padding-left: 20px;
}
.touch-icon{
    color: cornflowerblue
}

.mobil-logo{
    margin-left: 20px;
}
.menu{
    margin-right: 20px;
}
.menu a{
    color: #fa5427;
}