{% extends 'base.html' %}

{% block content %}
 
    <section id="about-me" onclick="openabout()">
        <div class="container">
                
                    <div class="about-me flex ">
                        <div class="border-topp"></div>
                        <div class="title ">
                            <div class="title-book ">
                                <h2 class="items">About Me</h2>
                                <h5 class="item">Frontend developer</h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="picture-2 ">
                                        <img src="../static/img/1.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-4">
                                    <h3 class="front"> l am Frontend Developer</h3>
                                    <p class="pe" style="text-align: start;"> Hello, I am Khalig Rahimov, I studied Process Automation Engineering at Azerbaijan Technical University. My first IT education was at Pragmatech Training and Development Center, and I took my first steps in the programming life. In a short time I gained knowledge of HTML, CSS, Javascript, Bootstrap. I am currently studying at the Foundation.</p>
                                
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <ul class="info-list">
                                        <li>
                                            <span class="tit">Age:</span>
                                            <span class="value">21</span>
                                        </li>
                                        <li>
                                            <span class="tit">Residence:</span>
                                            <span class="value">Azerbaijan</span>
                                        </li>
                                        <li>
                                            <span class="tit">Adress:</span>
                                            <span class="value">Baku city, Qaradagh region Alat township</span>
                                        </li>
                                        <li>
                                            <span class="tit">e-mail:</span>
                                            <span class="value"><a href="">rehimov.xaliq.ru</a></span>
                                        </li>
                                        <li>
                                            <span class="tit">Phone:</span>
                                            <span class="value">(+994)50 768 - 62 - 58</span>
                                        </li>
                                    </ul>
                                    <ul class="social-link">
                                        <li>
                                            <a href="">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </section>
        </div>
    </section>
    {% endblock %}
    <script src="../static/js/app.js"></script>
</body>
</html>