{% extends 'base.html' %}

{% block content %}
 

    <section class="template-dark black">
        <div class="container">
            <div class="row rose">
                <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="resume flex">
                        <div class="border-topp"></div>
                            <div class="title ">
                                <div class="title-book ">
                                    <h2 class="items">Contact</h2>
                                    <h5 class="item">Get in Touch</h5>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row rowe">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="Get-touch">
                        <div class="block-title">
                            <h3>Get in Touch</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ex necessitatibus in suscipit aspernatur eius assumenda dignissimos aperiam, culpa asperiores iure a animi ut sunt molestias tempore soluta esse voluptatem.</p>
                            <div class="touch-block">
                                <div class="touch-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="text">
                                    Baku, Azerbaijan
                                </div>
                            </div>
                            <div class="touch-block">
                                <div class="touch-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text">
                                    rehimov.xaliq@internet.ru
                                </div>
                            </div>
                            <div class="touch-block">
                                <div class="touch-icon">
                                    <i class="fas fa-phone-square-alt"></i>
                                </div>
                                <div class="text">
                                    (+994)50 768 - 62 - 58
                                </div>
                            </div>
                            <div class="touch-block">
                                <div class="touch-icon">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="text">
                                    Freelance
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="contact-form">
                        <div class="block-title">
                        <h3>Contact-Form</h3>
                        </div>
                    <form action="">
                        <div class="container ">
                            <div class="row">
                                <div class="col">
                                    <input class="size" type="text" id="Full name" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class="size" type="text" id="e-mail" placeholder="E-mail address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                   <textarea class="size" name="Message for me" id="Message for me" cols="10" rows="4" placeholder="Message for me"></textarea>
                                </div>
                            </div>
                            <button class="submit" type="submit" value="Send Message">Send Message</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
        </div>
    </section>
    {% endblock %}
    <script src="js/app.js"></script>
</body>
</html>